# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDE / editor folders
.idea/
.vscode/

# macOS
.DS_Store

# dotenv
.env

# Database
*.sqlite3
*.db

# Logs
*.log
